body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sign {

  width: 130px;
  height: 50px;
  
  
  /* Avenir / Book / 36 */
  
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  
  
  /* UI / Blue */
  
  color: #344472;
  }

.login {
  

  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #707070;
}

.logininput {
  background: #F6F6F6;
  border-radius: 4px;
  width:366px;
  height: 40px;
  border-color:#F6F6F6;
  border-style: none;
  
}

.SignIn {
display: flex;
height: 1024px;
width: 1440px;
}

.seePasswordEye {
  background: #F6F6F6 url("../public/img/Frame\ 6.png") no-repeat center center ;
  border: 2px solid black ;
  border-radius: 4px;
  width: 40px;
  height: 38px;
  display: inline-block;
  position: relative;
  top: 17px;
  border-left: none;
  border-radius: 0 4px 4px 0 ;
  border-color: #F6F6F6;
  cursor: pointer;
  
}

.seePassword .logininput {
width: 318px;
border-right: none;
border-radius: 4px 0 0 4px;

}

.seePasswordEye--on {
  background: #F6F6F6 url("../public/img/Frame\ 6 (1).png") no-repeat center center;
}

.buttonSubmit {
cursor: pointer;
width: 365px;
height: 40px;
margin-top: 24px;
background: #E4163A;
border-radius: 4px;
border-color: #E4163A;
border-style: none;

}

.buttonSubmit:hover {
  background: #FF5761;
}

.buttonSubmit:active {
  background: #C60E2E;
border-radius: 4px;
}

.notaMember {
  font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
text-align: center;
color: #707070;
}

.link1 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color:pink;
}

.signUpText {
  width: 156px;
  height: 50px;
  font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 49px;
/* identical to box height */


/* UI / Blue */

color: #344472;
}

.textAgreement {
left: 10%;
right: 76.88%;
top: 65.23%;
bottom: 32.42%;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* UI / Grey */

color: #707070;

}

.signUpAlreadyamember {
 
margin-left: 89px;

/* Avenir / Medium / 14 */

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

display: flex;
align-items: center;
text-align: center;

/* UI / Grey */

color: #707070;
}


.LingtoSignIn {
  color:pink;
}



.imgSign {

  width: 834px;
  background: #F5FBFF;
  display: flex;
}
.imgSign1 {
  margin:auto;
  display:block;
  /* margin-top: 306px; */
}


.formSign1 {
  width: 606px;
  display: flex;
}

.formMargin {
  margin:auto;
  width: 366px;
  /* margin-top: 340px; */
}


.formsignUp {
  display: flex;
  width: 606px;
  height: 1024px;
}

.signUpmargin {
  margin:auto;
  width: 366px;

  
}

.imgSignup {
 
  width: 834px;
display: flex;

/* UI / Light Blue */

background: #F5FBFF;
height: 1024px;


}

.imgSignup1 {
  margin: auto;
  display: block;
  
 
}

.signUp {
  display: flex;
height: 100vh;
}

.logotip {
  
  width: 210px;
  height: 210px;
  margin-left: 146px;
  margin-top: 97px;
  margin-bottom: 97px;
  

}

.delete {
  background: #F6F6F6 url("../public/img/delete.png") no-repeat center center ;
  width: 16px;
  height: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
  margin-right: 32px;
  cursor: pointer;
}

.create {
  background: #F6F6F6 url("../public/img/create.png") no-repeat center center ;
  width: 16px;
  height: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
  margin-right: 22px;
  cursor: pointer;
}

.teamInf {
background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%);
border-radius: 10px 10px 0px 0px;
height: 404px;
}


.teamsLink {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 32px;
}


.DenverNuggets {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  
  /* UI / White */
  
  color: #FFFFFF;
}

.teamsinf {
  margin-left: 146px;
  margin-top: 65px;
}

.middleColumn1 {
  font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */


/* UI / White */

color: #FFFFFF
}

.middleColumn2{
  font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
/* identical to box height */


/* UI / White */

color: #FFFFFF;
margin-left: 84px;
}

.middleColumn3 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  
  
  /* UI / White */
  
  color: #FFFFFF;
}

.RosterPoster {
  background: #FFFFFF;
/* UI / Light Grey */

border: 0.5px solid #9C9C9C;
box-sizing: border-box;
border-radius: 10px 10px 0px 0px;
height: 54px;
}

.teamInf {
  display: flex;
}

.middleColumn {
  display: flex;
  margin-top: 40px;
}


.navBarteam {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
/* UI / Light Grey */

border: 0.5px solid #9C9C9C;
box-sizing: border-box;
border-radius: 10px 10px 0px 0px;
}

.DeleteCreate {
  display: flex;
}


.RosterText {
  margin-top:14px;
  margin-left: 32px;
  font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

/* UI / Grey */

color: #707070;
}

.PlayerParam {
  display: flex;
  background: #FFFFFF;
  /* UI / Light Grey */
  
  border: 0.5px solid #9C9C9C;
  box-sizing: border-box;
  border-radius: 0px;
}

.PlayerInf {
  background: #FFFFFF;
/* UI / Light Grey */

border: 0.5px solid #9C9C9C;
box-sizing: border-box;

}

.latties {
  font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* UI / Grey */

color: #707070;
margin-left:32px;
margin-top:10px;
}

.ADD {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;


width: 104px;
height: 40px;


/* UI / Red */

background: #E4163A;
border-radius: 4px;
cursor: pointer;
border-color: #C60E2E;
}

.ADD:hover {
  background: #FF5761;
}
.ADD:active {
  background: #C60E2E;
}
.NameACC {
  display: flex;
  margin-right: 51px;
  
}
.NAVBAR {
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(209, 209, 209, 0.5);
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: relative;
  z-index: 1;

}
.LogoBaske {
  margin-left: 51px;
  

 
}
.LogoBaske-1 {
  background-repeat: no-repeat;
  margin-top:16px;
  margin-left: 51px;
}

.accLogo {
  margin-top: 25px;
}
.c {
  text-align: center;
  margin-right: 15px;
  margin-top: 30px;

}


.sidebar {
  background: #FFFFFF;
  width: 140px;
  height: 992px;
  
}

.SignOutLogo {
  display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px 0px 32px;
margin-top: 725px;
cursor:pointer;
}


.search1 {
  background: url(../public/img/search.png) no-repeat 326px 12px;
  cursor: pointer;
  height: 40px;
  width: 346px;
}

.underNav {
  display: flex;
}

.TeamsLogo {
  margin-left:58px;
  margin-top:32px;
  margin-right: 58px;
  cursor:pointer;
}

.CardsSign {
  background: url("../public/img/group_person (1).png");
  width: 24px;
  height:24px;
  display: inline-block;
}

.CardsSign.active {
  background: url("../public/img/group_person.png");

}


.PlayersLogo {
  margin-left:58px;
  margin-top:71px;
  cursor:pointer;
  margin-right:58px;
}

.personSign {
  background: url("../public/img/person.png");
  height: 24px;
  width: 24px;
  display:inline-block ;
}

.personSign.active {
  background: url("../public/img/person (1).png");
 
}

.InputinCards {
  margin-left:80px;
  margin-top:32px;
}


.CardsShow {
  
  width:100%;
  height: 992px;
  
  /* UI / Lightest Grey1 */
  
  background: #F6F6F6;
}

.AddTeam {
  margin-top: 32px;
 margin-left: 672px;
}

.pages {
 display: flex;
 margin: 0;
 
}

.pages li {
  list-style: none;
  font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 30px;
/* identical to box height, or 171% */
cursor: pointer;

text-align: center;
margin-left: 32px;
height: 40px;
  width: 40px;
}

.cardsShowing {
  display:flex;
  width: 100%;
  background: #F6F6F6;
}

.previous.disabled {
 font-size: 30px;
  cursor: pointer;
}

.next {
  font-size: 30px;
  cursor: pointer;
}


.selected {
  background: #E4163A;
  border-radius: 4px;
  color: #FFFFFF;

}

.cardsPresenting {
  /* outline: 1px solid red; */
 margin-top: 32px;
height: 784px;
}

.layout-pages {
  display: flex;
  /* outline: 1px solid green; */
  height: 104px;
  align-items: center;
  background: #F6F6F6;
}
  
.EmptyHere {
  width: 556px;
  height: 570px;
  margin-top: 139px;
  margin-bottom: 255px;
}

.EmptyHerePhoto {
  width: 556px;
  height: 570px;
  margin-left: 493px;
  margin-top: 11px;
  background: #FFFFFF;
}


.select2 {
  background: #FFFFFF;
/* UI / Lightest Grey */

border: 0.5px solid #D1D1D1;
box-sizing: border-box;
border-radius: 4px;
width: 364px;
height:45px;
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* UI / Grey */

color: #707070;

}

.InputinCards1 {
  display:flex;
  margin-left:80px;
  margin-top:32px;

}


.AddTeam1 {
  margin-left: 284px;
  margin-top: 32px;
}


.EmptyHeretext {
 margin-left: 550px;
  font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
/* identical to box height */

text-align: center;

/* UI / Lightest Red */

color: #FF768E;
width: 200px;
height: 50px
}

.ContinueCard {
margin-left: 501px;
  font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: flex-end;

/* UI / Grey */

color: #707070;
width: 298px;
height: 32px;
}

.illustrNotFound {
  width: 380px;
height: 212px;
margin-left: 530px;
margin-top: 353px;
}

.CartNotFound {
  width: 456px;
height: 106px;
margin-top: 56px;
margin-left: 492px;
}

.PageNot {
  width: 1440px;
height: 1072px;

/* UI / White */

background: #FFFFFF;
}

.AddPlayer {
  background: #F6F6F6;
  width: 100%;
    height: 992px
}

.underNavPlayer {
  display: flex;
}

.NavAddPlayer {
  width: 1140px;
height: 69px;
background: #FFFFFF;
border-radius: 10px 10px 0px 0px;
margin-top: 32px;
margin-left:80px;

}

.ADDPlayerONE {
  margin-left: 80px;
  width: 1140px;
height: 707px;
background: #FFFFFF;
border-radius: 10px 10px 0px 0px;
}

.textinAddplayer {
  font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* UI / Red */

color: #E4163A;
margin-top: 24px;
margin-left: 32px;
width: 159px;
height: 21px;
}

.InputNameAddPlayer {
  width: 366px;
height: 92px;
margin-top:48px ;
margin-left: 136px;
}

.ADDPlayerONE {
  display: flex;
}

.inputPhoto {
  width: 336px;
height: 261px;
background: #9C9C9C;
opacity: 0.5;
border-radius: 10px;
margin-left: 73px;
margin-top: 48px;
}

.ImgofCamera {
  margin-left: 131px;
  margin-top:93px;
  margin-bottom: 93px;
}

.selectLabel {
  font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* UI / Grey */

color: #707070;
}





.TeamsSelect {
  margin-left: 136px;
}



.nameofsmallInput {
  font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* UI / Grey */

color: #707070;


}

.small1 {
margin-top: 24px;
margin-left: 136px;
}

.small2 {

margin-left: 24px;
}

.small3 {
  margin-top: 24px;
  margin-left: 136px;
  }
  
.small4 {
 
  margin-left: 24px;
  }

.inputsmall {
  width:171px;
  height:40px;
  background: #F6F6F6;
  border-radius: 4px;
}

.ftwofirsrsmallinputs {
  display: flex;
}

.stwosecondsmallinputs {
  display: flex;
}

.FourInputs {
  display: block;
}




.buttons {
  display: flex;
  margin-top: 24px;
}

.cancel {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  background: #FFFFFF; 
border-radius: 4px;
height:40px;
width: 171px;
cursor: pointer;
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */


/* UI / White */

color:  #9C9C9C;;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.save {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
 
  background: #E4163A;
border-radius: 4px;
height:40px;
width: 171px;
cursor: pointer;
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */


/* UI / White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.marginforsave {
  margin-left: 34px;
}

 .marginForselectinPlayer {
  margin-left: 24px;
  margin-top: -12px;
  width: 364px;
  height:40px;
} 

.burger {
  cursor: pointer;
  /* display: none; */
}
/* .small2 {

}

.smal4 {

} */
@media screen and (min-width: 576px) {
  .Menu {
    display: none;
  }
}

 @media screen and (max-width: 575px)
  {
    .cardsTeam {
      width: 375px;
      height: 921px;
      
    }
    .AddTeam {
      width: 351px;
      margin-left: 12px;
    }
    .ADD {
      width:351px;
    }
    .cardsShowing {
      display: block;
    }
    .cardsPresenting {
      height:566px;
    }
    .EmptyHere {
      
      margin-top: 12px;
      margin-bottom: 12px;
    }
    
    .EmptyHerePhoto {
      width: 375px;
      height: 434px;
      background: #FFFFFF;
      margin-left: 55.53px;
      margin-right: 55.53px;
    }
    .InputinCards {
      margin-left:16px;
      margin-top:12px;
    }

    
    .pages {
      
      /* outline: 1px solid green; */
      width:351px;
      height: 28px;
      margin-left: -26.64px;
    }
    .CardsShow {
      background: white;
    }

    .SideBarNone {
      display: none;
    }

    .c {
      display: none;
    }

    .accLogo {
      display: none;
    }

    .burger {
      margin-top:25px;
      margin-left: 12px;
    }

    .Menu {
      width:201px;
      height:815px;
      display: none;
      position:fixed;
    }
    
    .Menu.active {
      
      width:201px;
      height:815px;
      display: block;
      background: white;
    }

    .MenuName {
      height:80px;
      width:201px;
      
    }

    .MenuName_logo {
      margin-left: 20px;
      margin-top: 20px;
    }

    .sideBarForMenu {
      margin-top: 49px;
    }

    .sidebar {
      background: #FFFFFF;
      width: 140px;
      height: 735px;
      
    }

    .SignOutLogo {
      margin-top: 598.01px;
    }

    .layout-pages {
      background-color: #F6F6F6;
    }
  } 

  @media screen and (max-width: 576px) {
    .SignIn {
      width:375px;
      height:667px
    }
  }
  @media screen and (max-width: 576px) {
    .imgSign1 {
      display:none;
    }
  }
  @media screen and (max-width: 576px) {
    .imgSign {
      display:none
    }
  }
  @media screen and (max-width: 576px) {
    .formSign1 {
      margin:auto;
      width: 327px;
      /* margin-top: 340px; */
    }
  }
  @media screen and (max-width: 576px) {
    .sign {
      width:130px;
      height:49px;
      margin-left:123px;
      margin-top:159px
    }
  }

  @media screen and (max-width: 576px) {
    .logininput {
      width:327px;
      height:40px;
    }
  }

  @media screen and (max-width: 576px) {
    .inpute_type {
      width:327px;
      height:40px;
    }
  }